In [0]:
sc

In [0]:
print(spark)

In [0]:
from pyspark.sql.functions import *

a)	Create HR_Employee Pysaprk dataFrame

In [0]:
HR_Employee_df = spark.read.csv("dbfs:/FileStore/tables/HR_Employee.csv", header = True, inferSchema = True)
type(HR_Employee_df)

Out[4]: pyspark.sql.dataframe.DataFrame

b)	Show printSchema & show 10 rows of Dataset

In [0]:
HR_Employee_df.printSchema()
HR_Employee_df.show(10)

root
 |-- EmployeeID: integer (nullable = true)
 |-- Department: string (nullable = true)
 |-- JobRole: string (nullable = true)
 |-- Attrition: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- MaritalStatus: string (nullable = true)
 |-- Education: string (nullable = true)
 |-- EducationField: string (nullable = true)
 |-- BusinessTravel: string (nullable = true)
 |-- JobInvolvement: string (nullable = true)
 |-- JobLevel: integer (nullable = true)
 |-- JobSatisfaction: string (nullable = true)
 |-- Hourlyrate: integer (nullable = true)
 |-- Income: integer (nullable = true)
 |-- Salaryhike: integer (nullable = true)
 |-- OverTime: string (nullable = true)
 |-- Workex: integer (nullable = true)
 |-- YearsSinceLastPromotion: integer (nullable = true)
 |-- EmpSatisfaction: string (nullable = true)
 |-- TrainingTimesLastYear: integer (nullable = true)
 |-- WorkLifeBalance: string (nullable = true)
 |-- Performance_Rating: string (nullable = true)

+----------+--------------------+--------------------+---------+------+---+-------------+-------------+--------------+-----------------+--------------+--------+---------------+----------+------+----------+--------+------+-----------------------+---------------+---------------------+---------------+------------------+
|EmployeeID|          Department|             JobRole|Attrition|Gender|Age|MaritalStatus|    Education|EducationField|   BusinessTravel|JobInvolvement|JobLevel|JobSatisfaction|Hourlyrate|Income|Salaryhike|OverTime|Workex|YearsSinceLastPromotion|EmpSatisfaction|TrainingTimesLastYear|WorkLifeBalance|Performance_Rating|
+----------+--------------------+--------------------+---------+------+---+-------------+-------------+--------------+-----------------+--------------+--------+---------------+----------+------+----------+--------+------+-----------------------+---------------+---------------------+---------------+------------------+
|         1|               Sales|     Sales Executive|      Yes|Female| 41|       Single|      College| Life Sciences|    Travel_Rarely|          High|       2|      Very High|        94|  5993|        11|     Yes|     8|                      0|         Medium|                    0|            Bad|         Excellent|
|         2|Research & Develo...|  Research Scientist|       No|  Male| 49|      Married|Below College| Life Sciences|Travel_Frequently|        Medium|       2|         Medium|        61|  5130|        23|      No|    10|                      1|           High|                    3|         Better|       Outstanding|
|         3|Research & Develo...|Laboratory Techni...|      Yes|  Male| 37|       Single|      College|         Other|    Travel_Rarely|        Medium|       1|           High|        92|  2090|        15|     Yes|     7|                      0|      Very High|                    3|         Better|         Excellent|
|         4|Research & Develo...|  Research Scientist|       No|Female| 33|      Married|       Master| Life Sciences|Travel_Frequently|          High|       1|           High|        56|  2909|        11|     Yes|     8|                      3|      Very High|                    3|         Better|         Excellent|
|         5|Research & Develo...|Laboratory Techni...|       No|  Male| 27|      Married|Below College|       Medical|    Travel_Rarely|          High|       1|         Medium|        40|  3468|        12|      No|     6|                      2|            Low|                    3|         Better|         Excellent|
|         6|Research & Develo...|Laboratory Techni...|       No|  Male| 32|       Single|      College| Life Sciences|Travel_Frequently|          High|       1|      Very High|        79|  3068|        13|      No|     8|                      3|      Very High|                    2|           Good|         Excellent|
|         7|Research & Develo...|Laboratory Techni...|       No|Female| 59|      Married|     Bachelor|       Medical|    Travel_Rarely|     Very High|       1|            Low|        81|  2670|        20|     Yes|    12|                      0|           High|                    3|           Good|       Outstanding|
|         8|Research & Develo...|Laboratory Techni...|       No|  Male| 30|     Divorced|Below College| Life Sciences|    Travel_Rarely|          High|       1|           High|        67|  2693|        22|      No|     1|                      0|      Very High|                    2|         Better|       Outstanding|
|         9|Research & Develo...|Manufacturing Dir...|       No|  Male| 38|       Single|     Bachelor| Life Sciences|Travel_Frequently|        Medium|       3|           High|        44|  9526|        21|      No|    10|                      1|      Very High|                    2|         Better|       Outstanding|
|        10|Research & Develo...|Healthcare Repres...|       No|  Male| 36|      Married|     Bachelor|       Medical|    Travel_Rarely|          High|       2|           High|        94|  5237|        13|      No|    17|                      7|           High|                    3|           Good|         Excellent|
+----------+--------------------+--------------------+---------+------+---+-------------+-------------+--------------+-----------------+--------------+--------+---------------+----------+------+----------+--------+------+-----------------------+---------------+---------------------+---------------+------------------+
only showing top 10 rows

c)	Most employee is working in which department

In [0]:
HR_Employee_df.createOrReplaceTempView("HR_emp_Data")

spark.sql("select Department,count(EmployeeID) as Total from HR_emp_Data group by Department order by Total desc limit 1").show()

+--------------------+-----+
|          Department|Total|
+--------------------+-----+
|Research & Develo...|  961|
+--------------------+-----+

d)	Highest number of job roles

In [0]:
spark.sql("select JobRole,count(JobRole) as number from HR_emp_Data group by JobRole order by number desc limit 1").show()

+---------------+------+
|        JobRole|number|
+---------------+------+
|Sales Executive|   326|
+---------------+------+

e)	Which gender have higher strength as workforce?

In [0]:
spark.sql("select Gender, count(Gender) as number from HR_emp_Data group by Gender order by number desc limit 1").show()

+------+------+
|Gender|number|
+------+------+
|  Male|   881|
+------+------+

f)	Compare the marital status of employee and find the most frequent status.

In [0]:
spark.sql("select MaritalStatus, count(MaritalStatus) as number from HR_emp_Data group by MaritalStatus order by number desc ").show()

+-------------+------+
|MaritalStatus|number|
+-------------+------+
|      Married|   672|
|       Single|   470|
|     Divorced|   327|
+-------------+------+

g)	Mostly hired employee have qualification

In [0]:
spark.sql("select Education, count(Education) as number from HR_emp_Data group by Education order by number desc").show()

+-------------+------+
|    Education|number|
+-------------+------+
|     Bachelor|   572|
|       Master|   398|
|      College|   282|
|Below College|   169|
|       Doctor|    48|
+-------------+------+

h)	Find the count of employee from which education fields

In [0]:
spark.sql("select EducationField,count(EducationField) as number from HR_emp_Data group by EducationField order by number desc").show()

+----------------+------+
|  EducationField|number|
+----------------+------+
|   Life Sciences|   605|
|         Medical|   464|
|       Marketing|   159|
|Technical Degree|   132|
|           Other|    82|
| Human Resources|    27|
+----------------+------+

i)	What is the job satisfaction level of employee?

In [0]:
spark.sql("select JobSatisfaction, count(JobSatisfaction) as number from HR_emp_Data group by JobSatisfaction order by number").show()

+---------------+------+
|JobSatisfaction|number|
+---------------+------+
|         Medium|   280|
|            Low|   289|
|           High|   441|
|      Very High|   459|
+---------------+------+

j)	Does most of employee do overtime: Yes or No?

In [0]:
spark.sql("select OverTime, count(OverTime) as total from HR_emp_Data group by OverTime order by total desc ").show()

+--------+-----+
|OverTime|total|
+--------+-----+
|      No| 1053|
|     Yes|  416|
+--------+-----+

k)	Find Min & Max Salaried employees.

In [0]:
HR_Employee_df.select(max('Income')).show() 
HR_Employee_df.select(min('Income')).show()

+-----------+
|max(Income)|
+-----------+
|      19999|
+-----------+

+-----------+
|min(Income)|
+-----------+
|       1009|
+-----------+

l)	Does most of the employee do business travel? Find of the employees counts for each category

In [0]:
spark.sql("select BusinessTravel,count(BusinessTravel) as Emp_count from HR_emp_Data group by BusinessTravel order by Emp_count desc ").show()

+-----------------+---------+
|   BusinessTravel|Emp_count|
+-----------------+---------+
|    Travel_Rarely|     1042|
|Travel_Frequently|      277|
|       Non-Travel|      150|
+-----------------+---------+

m)	Find the AVG salary of graduate employee.

In [0]:
HR_Employee_df.select(avg(when(HR_Employee_df['Education'] == 'Bachelor',HR_Employee_df['Income'])).alias("avg_Income_grad")).show()

+-----------------+
|  avg_Income_grad|
+-----------------+
|6517.263986013986|
+-----------------+

n)	Find the employee qualification receiving salary lower than equal to avg. salary of all employee.

In [0]:
spark.sql("select EmployeeID,Education,Income from HR_emp_Data where Income < (select avg(Income) from HR_Data) ").show()

+----------+-------------+------+
|EmployeeID|    Education|Income|
+----------+-------------+------+
|         1|      College|  5993|
|         2|Below College|  5130|
|         3|      College|  2090|
|         4|       Master|  2909|
|         5|Below College|  3468|
|         6|      College|  3068|
|         7|     Bachelor|  2670|
|         8|Below College|  2693|
|        10|     Bachelor|  5237|
|        11|     Bachelor|  2426|
|        12|      College|  4193|
|        13|Below College|  2911|
|        14|      College|  2661|
|        15|     Bachelor|  2028|
|        17|      College|  3298|
|        18|      College|  2935|
|        20|     Bachelor|  3944|
|        21|      College|  4011|
|        22|       Master|  3407|
|        24|      College|  1232|
+----------+-------------+------+
only showing top 20 rows

o)	When does the employee have highest chance of promotion in terms of working year?

In [0]:
# not get

p)	Highest attrition is in which department?

In [0]:
spark.sql("select Department,count(Department)as attrition_number from HR_emp_Data where Attrition = 'Yes' group by Department order by attrition_number desc ").show()

+--------------------+----------------+
|          Department|attrition_number|
+--------------------+----------------+
|Research & Develo...|             133|
|               Sales|              92|
|     Human Resources|              12|
+--------------------+----------------+

q)	Show marital status of Person having highest attrition rate

In [0]:
spark.sql("select MaritalStatus,count(MaritalStatus) as Total from HR_emp_Data where Attrition = 'Yes' group by MaritalStatus order by Total desc ").show()

+-------------+-----+
|MaritalStatus|Total|
+-------------+-----+
|       Single|  120|
|      Married|   84|
|     Divorced|   33|
+-------------+-----+